/* CHAPTERS ACCORDIAN */

#accordion-content {
    display: none;
    
}

#accordion-content.show {
    display: flex;
    
}

#arrow-down {
    transform: rotate(0deg);
}

#btn-back-to-top {
    position: fixed;
    display: none;
  }